.ProductosSelect {
  @apply px-4 mt-4 md:mt-10 md:px-0 lg:mt-12;
  &__selector {
    @apply mb-4 lg:mb-8;
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.25rem;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      border-bottom: 4px solid;
      @apply bg-transparent text-primary-500 rounded-t-2xl font-title border-gris-500
      text-base py-4;

      &--active {
        @apply bg-primary-500 text-gris-50 border-accent-500;
      }
    }
  }
}
