---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pisosData = await getCollection("pisos");
  return pisosData.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout title={entry.data.id}>
  <h1>{entry.data}</h1>
</Layout>
