---
import Layout from "../../layouts/Layout.astro";
import ProductosContent from "../../components/pages/productos/ProductosContent.astro";
---

<Layout title="Perdura Stone">
  <ProductosContent />

  <h1 class="h-96 bg-blue-300">AQUI CONTENIDO MAS CHIDO</h1>
</Layout>

<style></style>
