---
import Layout from "../../layouts/Layout.astro";
import ProductosContent from "../../components/pages/productos/ProductosContent.astro";
---

<Layout title="Pisos vinilico artis LVT">
  <ProductosContent  />

  <h1 class="h-96 bg-red-500">AQUI CONTENIDO</h1>
</Layout>

<style></style>
