---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tradeco Costa Rica - Page Moved">
  <section class="flex-1 bg-accent-50 w-full flex justify-center items-center">
    <div class="text-center">
      <h1 class="text-4xl font-title font-bold text-grey-950 mb-6">
        301 - Page Moved Permanently
      </h1>
      <p class="text-lg text-grey-800 mb-2">
        La página que buscas ha sido movida permanentemente.
      </p>
      <a href="/" class="text-accent-800 hover:underline"
        >Regresa a la página principal</a
      >
    </div>
  </section>
</Layout>
