---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const monsters = [
  {
    name: "rathalos",
    tipo: "Wyvern",
  },
  {
    name: "Presioth",
    tipo: "Leviatan",
  },
  {
    name: "Congalala",
    tipo: "Bestia de colmillos",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h2 class="text-xl text-white">HOLA SOY EL BLOG</h2>
  </main>
  <a href="/">INICIO</a>


  {
    monsters.map((monster) => (
      <article class:list={[
        "rounded py-1 px-2",
        {
            "bg-green-500" : monster.tipo === "Bestia de colmillos",
            "bg-red-500" : monster.tipo === "Wyvern",
            "bg-blue-500" : monster.tipo === "Leviatan"
        }
      ]}>
        <h4>{monster.name}</h4>
        <p>{monster.tipo}</p>
        <a href={`/blog/${monster.name}`}></a>
      </article>
    ))
  }
</Layout>

<style></style>
