---
import { Image } from "astro:assets";
import ElipsePisos from "../../../assets/imgs/home/EllipsePisos.png";
import ElipsePiedra from "../../../assets/imgs/home/EllipsePiedra.png";
---

<section class="container px-4">
  <h2
    class="mb-8 lg:mb-14 text-center font-title font-medium text-6xl lg:text-7xl"
  >
    Productos
  </h2>

  <div class="flex justify-center gap-4 md:gap-12 lg:gap-36">
    <div class="ProductCard relative flex flex-col">
      <Image
        class="mb-2 w-40 sm:max-w-52 sm:w-full lg:mb-4"
        src={ElipsePisos}
        alt="Product"
      />
      <h3 class="text-center font-title text-xl md:text-2xl lg:text-3xl">
        <a href="/productos">Pisos vinílicos</a>
      </h3>

      <a
        href="/productos"
        class="ProductCard__Link text-center text-white rounded-full py-2 sm:py-4"
        >Ver más</a
      >
    </div>

    <div class="ProductCard relative flex flex-col">
      <Image
        class="mb-2 w-40 sm:max-w-52 sm:w-full lg:mb-4"
        src={ElipsePiedra}
        alt="Product"
      />
      <h3 class="text-center font-title text-xl md:text-2xl lg:text-3xl">
        <a href="/productos">Piedras</a>
      </h3>

      <a
        href="/productos"
        class="ProductCard__Link text-center text-white rounded-full py-2 sm:py-4"
        >Ver más</a
      >
    </div>
  </div>
</section>

<style lang="scss">
  .ProductCard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 10rem;
    height: 10rem;
    max-height: 208px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.272);
    transition: opacity 0.3s ease-in-out;

    @apply sm:w-full sm:max-w-52 sm:h-52;
  }

  .ProductCard:hover:before {
    opacity: 1;
  }

  .ProductCard__Link {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -40%);
    border: 2px solid #fff;
    opacity: 0;
    transition:
      opacity 0.3s ease-in-out,
      top 0.5s ease-in-out;
  }

  .ProductCard:hover .ProductCard__Link {
    top: 40%;
    opacity: 1;
  }
</style>
