---
import { Image } from "astro:assets";

type Props = {
  id: string;
  img: any;
  title: string;
  type: string;
};

const { id, img, title, type } = Astro.props;
---

<article class="flex flex-col items-end">
  <Image
    src={img}
    alt={title}
    class="mb-3 object-cover aspect-square rounded-xl"
  />
  <h3
    class="text-accent-500 text-left font-title text-2xl lg:text-3xl uppercase
  tracking-[2.04px] lg:mb-1"
  >
    {title}
  </h3>

  <a
    href=`/productos/${type === "lvt" ? "pisos-lvt" : "pisos-spc"}/${id}`
    class="text-accent-500 text-left underline
    font-light text-sm lg:text-lg tracking-[2px]
    hover:text-accent-900 hover:font-normal"
    >Ver más detalles</a
  >
</article>

<style></style>
