---
import { getImage } from "astro:assets";
import bannerContacto from "@/assets/imgs/bannerContacto.jpg";

const optimizedBackground = await getImage({
  src: bannerContacto,
  format: "jpg",
});
---

<section
  id="bannerPrincipal"
  data-images={JSON.stringify(optimizedBackground)}
  class="w-full relative
  rounded-b-3xl md:rounded-b-[4rem] overflow-hidden
  h-[26rem] md:h-[32rem] lg:h-[36rem]
  bg-cover bg-center"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <p
    class="banner__title
    absolute bg-accent-500
    text-gray-50 font-title tracking-widest font-semibold
    text-left text-xl md:text-2xl lg:text-3xl
    py-6 px-4 md:pl-8 lg:pl-12
    rounded-br-full
    top-0 left-0
    w-full md:w-[30rem] lg:w-[34rem]"
  >
    Contáctanos para empezar a darle un toque de estilo a tus proyectos
  </p>
</section>

<style></style>
