---
import { getImage } from "astro:assets";

interface Props {
  bgImage: ImageMetadata;
}

const { bgImage } = Astro.props;

const optimizedBackground = await getImage({
  src: bgImage,
  format: "jpg",
});
---

<section
  class="w-full md:container relative mt-0 mb-4 lg:mb-8
  rounded-b-3xl overflow-hidden
  h-80 lg:h-96 xl:h-[30rem]
  bg-cover bg-no-repeat md:bg-cover bg-[bottom_center] md:bg-center"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <p
    class="banner__title
    absolute bg-tertiary-500 text-gray-50
    font-bold font-title text-lg md:text-2xl lg:text-3xl
    py-4 pl-4 lg:py-12 lg:pl-12
    rounded-tr-full lg:rounded-r-3xl
    bottom-0 left-0
    w-full max-w-80 md:max-w-96
    tracking-[1.70px] leading-[1.5rem]"
  >
    El toque de estilo que <br /> tus espacios merecen
  </p>
</section>

<style></style>
