---
import { Image } from "astro:assets";
import { MenuScale } from "iconoir-react";
import tradecoLogo from "../assets/svg/tradeco_logo.svg";
import iconFacebook from "../assets/svg/icon-facebook.svg";
import iconInstagram from "../assets/svg/icon-instagram.svg";
---

<header class="shadow-lg flex justify-center w-full">
  <div class="container flex items-center justify-between px-4 py-5">
    <div class="text-primary-500 basis-1/4 lg:hidden">
      <MenuScale height={36} width={36} />
    </div>

    <Image
      class="basis-1/2 max-w-32 lg:basis-1/4 lg:max-w-48"
      src={tradecoLogo}
      alt="Logo Tradeco"
    />

    <li
      class="hidden lg:flex list-none justify-end flex-1 space-x-20 text-lg pr-16"
    >
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a href="/contacto">Contacto</a>
    </li>

    <div
      class="flex basis-1/4 gap-2 justify-end lg:gap-4 lg:grow-0 lg:flex-none"
    >
      <Image src={iconFacebook} alt="socialIcon Facebook" />
      <Image src={iconInstagram} alt="socialIcon Instagram" />
    </div>
  </div>
</header>


