---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header";
import Footer from "./Footer.astro";
import WhatsAppBtn from "./WhatsAppBtn.astro";
import GlobalStyles from "../styles/GlobalStyles.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Metadatos del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Metadatos para SEO -->
    <meta
      name="description"
      content="Importador y distribuidor de pisos vinílicos Artis y piedras Perdura Stone"
    />
    <meta name="keywords" content="Pisos vinilicos Artis piedra" />
    <meta
      name="author"
      content="Jonathan Alexis Bello Lopez - YGU COMUNICAXION"
    />
    <meta name="robots" content="index, follow" />

    <!-- Metadatos de Open Graph para redes sociales (Facebook, Twitter, etc.) -->
    <meta property="og:title" content="Tradeco Costa Rica" />
    <meta
      property="og:description"
      content="Importador y distribuidor de pisos vinílicos Artis y piedras Perdura Stone"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="URL de tu sitio web" />
    <meta property="og:image" content="/ogimage.jpg" />
    <meta property="og:site_name" content="Tradeco Costa Rica" />
    <meta name="twitter:title" content="Tradeco Costa Rica" />
    <meta
      name="twitter:description"
      content="Importador y distribuidor de pisos vinílicos Artis y piedras Perdura Stone"
    />
    <meta name="twitter:image" content="/ogimage.jpg" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header client:only />

    <main class="flex flex-col justify-center items-center mt-20 flex-1">
      <slot />
      <WhatsAppBtn />
    </main>

    <Footer />
    <GlobalStyles />

    <script src="./viewTransitionsConfig.js"></script>
  </body>
</html>
